<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="AcorXProvider" type="AcoreX.Utility.Configuration.ProviderConfigurationSection,  AcoreX" />
  </configSections>
  <AcorXProvider>
    <providers>
      <clear />
      <!--<add name="resource" type="OHS.Web.Assets.WebResourceProvider,  OHS.Web" />
      <add name="template" type="OHS.Web.Assets.WebHtmlTemplateProvider,  OHS.Web" />
      <add name="exception" type="OHS.Web.Assets.WebExceptionHandlerProvider,  OHS.Web" />
      <add name="resource" type="OHS.Api.Assets.WebResourceProvider,  OHS.Api" />
      <add name="identity" type="OHS.Api.Assets.ApiIdentityProvider,  OHS.Api" />-->
      <add name="email" type="Esunco.Logics.MailProvider,  Esunco.Logics" />
    </providers>
  </AcorXProvider>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogFile" value="C:\Sites\Esunco\API\LogFile.log" />
    <!--  Bank Gatway -->
    <!--<add key="PAYMENT_TERMINAL_ID" value="1380421" />-->
    <add key="PAYMENT_USERNAME" value="f4c16480-1c80-11e9-ae0a-005056a205be" />
    <!--<add key="PAYMENT_PASSWORD" value="64912366" />-->
    <add key="PAYMENT_BANK_URL" value="https://www.zarinpal.com/pg/StartPay/{0}" />
    <!--  Bank Callback -->
    <!--<add key="PAYMENT_ORDER_CALLBACK" value="http://api.elesim.ir/Order/Payment/Callback?ID={0}" />
    <add key="PAYMENT_ACCOUNT_CALLBACK" value="http://api.elesim.ir/Account/Payment/Callback?ID={0}" />-->
    <add key="PAYMENT_ORDER_CALLBACK" value="http://localhost:9812/Payment/Order/Callback?ID={0}" />
    <add key="PAYMENT_ACCOUNT_CALLBACK" value="http://localhost:9812/Payment/Account/Charge/Callback?ID={0}" />
    <!--  Download -->
    <add key="PAYMENT_OREDR_DOWNLOAD_ZIP" value="http://api.elesim.ir/Order/Pack/Download/ZIP/{0}" />
    <add key="PAYMENT_OREDR_DOWNLOAD_EXCEL" value="http://api.elesim.ir/Order/Pack/Download/EXCEL/{0}" />
    <!--  SMS -->
    <add key="SMS_USERNAME" value="sobhomid" />
    <add key="SMS_PASSWORD" value="sonco2016" />
    <add key="SMS_NUMBER" value="3000150150" />
    <!--  Email -->
    <add key="SMTP_SERVER" value="smtp.gmail.com" />
    <add key="SMTP_PORT" value="587" />
    <add key="SMTP_SSL" value="true" />
    <add key="INFO_ADDRESS" value="iranmarja.com@gmail.com" />
    <add key="INFO_USERNAME" value="iranmarja.com@gmail.com" />
    <add key="INFO_PASSWORD" value="Zer01234" />
    <add key="INFO_DISPLAYNAME" value="Elesim | اِلِسیم" />
    <!-- APP -->
    <add key="APP_APP_VERSION" value="8" />
    <!-- support -->
    <add key="SUPPORT_PHONE1" value="03132505181" />
    <add key="SUPPORT_PHONE2" value="09130000642" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <add name="EsuncoConnection" connectionString="data source=.\EXP17;initial catalog=Elesim;User ID=ma;Password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="tsms_Binding" />
        <binding name="PaymentGatewayImplServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentGatewayImplementationServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentGatewayImplServiceSoapBinding1" />
      </basicHttpBinding>
      
    </bindings>
    <client>
      <endpoint address="http://www.tsms.ir/soapWSDL/" binding="basicHttpBinding" bindingConfiguration="tsms_Binding" contract="TSMSService.tsmsService" name="tsms_Port" />
      <endpoint address="https://bpm.shaparak.ir/pgwchannel/services/pgw" binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplServiceSoapBinding" contract="PaymentService.IPaymentGateway" name="PaymentGatewayImplPort" />
      <endpoint address="https://www.zarinpal.com/pg/services/WebGate/service"
        binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplementationServiceBinding"
        contract="Zarinpal.PaymentGatewayImplementationServicePortType"
        name="PaymentGatewayImplementationServicePort" />
    </client>
  </system.serviceModel>




  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>