# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*.suo
*.user
.vs
.vscode

node_modules
bin
obj
packages
/Components
/AndroidUI
/Esunco.Test
/TestResults


