.ant-message .anticon {
  margin-left: 8px !important;
  margin-right: 0px !important;
}
.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 0px !important ;
  padding-right: 30px !important;
}
.ant-input-affix-wrapper .ant-input-prefix {
  right: 12px !important;
  left: inherit !important;
}
.ant-notification-notice-icon {
  margin-left: 15px !important;
  left: 0 !important;
}
.ant-col-1,
.ant-col-2,
.ant-col-3,
.ant-col-4,
.ant-col-5,
.ant-col-6,
.ant-col-7,
.ant-col-8,
.ant-col-9,
.ant-col-10,
.ant-col-11,
.ant-col-12,
.ant-col-13,
.ant-col-14,
.ant-col-15,
.ant-col-16,
.ant-col-17,
.ant-col-18,
.ant-col-19,
.ant-col-20,
.ant-col-21,
.ant-col-22,
.ant-col-23,
.ant-col-24 {
  float: right !important;
}
@media (min-width: 768px) {
  .ant-col-md-1,
  .ant-col-md-2,
  .ant-col-md-3,
  .ant-col-md-4,
  .ant-col-md-5,
  .ant-col-md-6,
  .ant-col-md-7,
  .ant-col-md-8,
  .ant-col-md-9,
  .ant-col-md-10,
  .ant-col-md-11,
  .ant-col-md-12,
  .ant-col-md-13,
  .ant-col-md-14,
  .ant-col-md-15,
  .ant-col-md-16,
  .ant-col-md-17,
  .ant-col-md-18,
  .ant-col-md-19,
  .ant-col-md-20,
  .ant-col-md-21,
  .ant-col-md-22,
  .ant-col-md-23,
  .ant-col-md-24 {
    float: right !important;
  }
}
.ant-col-xs-1,
.ant-col-xs-2,
.ant-col-xs-3,
.ant-col-xs-4,
.ant-col-xs-5,
.ant-col-xs-6,
.ant-col-xs-7,
.ant-col-xs-8,
.ant-col-xs-9,
.ant-col-xs-10,
.ant-col-xs-11,
.ant-col-xs-12,
.ant-col-xs-13,
.ant-col-xs-14,
.ant-col-xs-15,
.ant-col-xs-16,
.ant-col-xs-17,
.ant-col-xs-18,
.ant-col-xs-19,
.ant-col-xs-20,
.ant-col-xs-21,
.ant-col-xs-22,
.ant-col-xs-23,
.ant-col-xs-24 {
  float: right !important;
}
.ant-btn > .anticon + span,
.ant-btn > span + .anticon {
  margin-left: 0 !important;
  margin-right: 8px !important;
}

.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only)
  .anticon {
  margin-left: 0 !important;
  margin-right: -14px !important;
}
.ant-btn-group > .ant-btn:first-child:not(:last-child),
.ant-btn-group > span:first-child:not(:last-child) > .ant-btn {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.ant-btn-group > .ant-btn:last-child:not(:first-child),
.ant-btn-group > span:last-child:not(:first-child) > .ant-btn {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.ant-btn-group
  .ant-btn-primary
  + .ant-btn:not(.ant-btn-primary):not([disabled]) {
  border-left-color: #e1e1e1 !important;
}
.ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow,
.ant-menu-submenu-vertical-left
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow,
.ant-menu-submenu-vertical-right
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow,
.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
  left: 16px !important;
  right: inherit !important;
}
.ant-menu-submenu-vertical
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow:before,
.ant-menu-submenu-vertical-left
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow:before,
.ant-menu-submenu-vertical-right
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow:before,
.ant-menu-submenu-inline
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow:before {
  -webkit-transform: rotate(315deg) translateY(-2px) !important;
  transform: rotate(315deg) translateY(-2px) !important;
}
.ant-menu-submenu-vertical
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow:after,
.ant-menu-submenu-vertical-left
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow:after,
.ant-menu-submenu-vertical-right
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow:after,
.ant-menu-submenu-inline
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow:after {
  -webkit-transform: rotate(-315deg) translateY(2px) !important;
  transform: rotate(-315deg) translateY(2px) !important;
}
.ant-menu-submenu-popup {
  background: #fff !important;
}
.ant-card-wider-padding .ant-card-head {
  padding: 0 10px !important;
}

.ant-select-dropdown-menu {
  padding-right: 0 !important;
}
.ant-select-arrow {
  right: inherit !important;
  left: 11px !important;
}
.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  text-align: right !important;
}
.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) {
  padding-right: 29px !important;
}
.ant-select-selection-selected-value {
  float: right !important;
  padding-left: 20px !important;
}
.ant-form-explain, .ant-form-extra {
  margin: 2px 0 !important;
}

.ant-skeleton-header {
  position: absolute !important;
  left: 0 !important;
  padding-left: 16px !important;
}
.ant-skeleton-title{
  width: 80% !important;
}
.ant-skeleton-with-avatar .ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph {
  padding: 0 !important;
}
.ant-modal-close {
  right: inherit !important;
  left: 0 !important;

}
.ant-modal-title {
  text-align: right !important;
}
.ant-modal-body {
  text-align: right !important;
  direction: rtl !important;
}
.ant-modal-footer {
  display: flex !important;
  flex-direction: row-reverse !important;
  button {
    margin-left: 10px;
}
}
.ant-input-group > .ant-input:last-child, .ant-input-group-addon:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.ant-input-group > .ant-input:first-child, .ant-input-group-addon:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.ant-input-group-addon:last-child {
  border-left: 1px solid #dadada;
  border-right:0px !important;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}