@import "./fonts.scss";
@import "./fixer.scss";
// start coding with scss
body {
    background: $white !important;
}

.full-background {
    height: 100vh;
    background-position: center !important;
    background-size: 70% !important;
    background-repeat: no-repeat !important;
    border-right: 1px solid #ced4da;
}

.login-background {
    background: url(../images/login.svg);
    background-color: rgba(206, 212, 218, 0.25);
}

.register-background {
    background: url(../images/register.svg);
    background-color: rgba(206, 212, 218, 0.25);
}

.form-logo {
    padding: 40px;
    h5 {
        color: $grey;
        margin: 0 0 50px 0;
        font-weight: normal;
        font-size: 1.25rem;
    }
    img {
        width: 100px;
        margin: 0 0 20px 0;
    }
}

.full-form {
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
}

.counter {
    text-align: center;
    font-size: 50px;
    width: 110px;
    height: 110px;
    line-height: 117px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #848484;
    display: block;
    margin: 20px auto;
}

.nav-menu-desktop {
    border-bottom: 1px solid rgba(204, 204, 204, 0.56);
    .ant-menu-horizontal {
        border: none !important;
    }
    .ant-btn-group {
        margin: 15px 0 !important;
        float: left !important;
    }
    .nav-logo {
        padding: 10px 5px !important;
    }
}

.nav-menu-mobile {
    background: #37bde3;
    height: 60px;
    display: flex !important;
    align-items: center;
    padding: 5px 10px;
    .nav-item {
        flex: 1;
    }
    .drawer-button {
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 60px;
        color: #fff;
    }
}

.nav-logo {
    padding: 5px 5px;
    img {
        width: 100px;
        display: block;
    }
}

.drawer-menu {
    .ant-drawer-body {
        padding: 0 !important;
    }
    .ant-drawer-header {
        background: #37bde3 !important;
        border-radius: 0 !important;
    }
    .menu-logo {
        width: 20px;
        margin: 0 5px;
    }
    .ant-menu-inline .ant-menu-submenu-title {
        padding-right: 18px !important;
    }
}

.cat-menu {
    border: 1px solid #e2e2e2;
    .menu-logo {
        width: 40px;
        margin-left: 10px;
    }
    li.ant-menu-submenu {
        border-bottom: 1px solid #e2e2e2 !important;
        padding: 5px 0;
        :nth-last-child() {
            border-bottom: 0px !important;
        }
    }
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 355px;
    line-height: 355px;
    background: #364d79;
    overflow: hidden;
}

.sim-item {
    .ant-card-meta-detail {
        text-align: center;
    }
    .ant-card-meta-title {
        direction: ltr;
    }
    .ant-card-meta-description {
        direction: rtl;
    }
}

.ant-avatar>img {
    padding: 7px !important;
}

.footer {
    background: #37bde3;
    padding: 20px 0px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    p {
        margin: 20px;
        color: $white;
        width: 60%;
        text-align: center;
    }
}

.card-price {
    background: $green;
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
}

.panel-header {
    img {
        width: 30px;
        margin-left: 10px;
    }
}

.user-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .user-info {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-left: 10px
        }
    }
}

.user-option {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 140px;
}

.search-card .ant-card-body {
    padding: 0;
}

.react-tabs__tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e9e9e9;
    .react-tabs__tab--selected {
        border-bottom: 1px solid #00c0e5;
    }
    li {
        min-width: 100px;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
}

.react-tabs__tab-panel--selected {
    padding: 10px;
}

.payModal {
    margin: 30px 0 0 0;
    h3 {
        direction: ltr;
        font-size: 20px;
        font-weight: 400;
        color: #5f5f5f;
        span {
            unicode-bidi: plaintext;
        }
    }
    h4 {
        color: green;
        font-size: 18px;
        line-height: 44px;
    }
}

.profile-page {
    min-height: 100vh;
}

.search-page {
    min-height: 100vh;
}

.product-page {
    min-height: 100vh;
}

.contact-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.application-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
}

.product-article {
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    header {
        display: flex;
        border-bottom: 1px solid #e9e9e9;
        align-items: center;
        height: 80px;
        padding: 0 10px;
        margin-bottom: 20px;
        justify-content: space-between;
        h1 {
            margin-bottom: 0;
            direction: ltr;
        }
        img {
            width: 50px;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        padding: 10px;
        li {
            height: 48px;
            border-bottom: 1px solid #e9e9e9;
            display: flex;
            align-items: center;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.slider {
    display: flex;
    width: 100%;
    height: 355px;
    img {
        display: block;
        width: 100%;
        height: 355px;
    }
}