@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>اِلِ سیم</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="rtl container">
        <div class="receipt">
            <div class="row header">
                <div class="col-xs-6 padding-10">
                    <img src="~/Content/images/ic_logo_hamrah.png" class="img-responsive center-block" />
                </div>
                <div class="col-xs-6 padding-10">
                    <img src="~/Content/images/ic_logo_main.png" class="img-responsive center-block" />
                </div>
            </div>
            <div class="row text-justify padding-10">
                <p>
                    شرکت ارتباطات صبح امید در سال 1390، به عنوان نماینده رسمی اپراتور همراه اول  در زمینه فروش کلیه محصولات  فیزیکی و الکترونیک اپراتور همراه اول فعالیت خود را آغاز نمود و با برند تجارت الکترونیک (elesim) و (esunco) پا به عرصه فروش الکترونیک  محصولات اپراتور همراه اول نهاده است و با استفاده از تجارب اندوخته شده مدیران به جرات به یکی از پیشرفته ترین شرکتهای فعال در حوزه فروش الکترونیک محصولات همراه  تبدیل شده است.
                </p>
                <p>
                    سامانه جامع و یکپارچه فروش سیمکارت الکترونیک با ویژگی های انحصاری و امکان ارائه خدمات ویژه، توسط متخصصین فناوری اطلاعات شرکت ارتباطات صبح امید ؛ با هدف ارائه خدمات الکترونیک به هموطنان عزیز و جلب رضایت حداکثری ایشان و با رویکرد گسترش فرهنگ شهروند الکترونیک جهت تسریع و تسهیل در خرید سیمکارت تلفن همراه اپراتورها طراحی و راه اندازی شده است.
                </p>
                <p style="text-align:center;">
                    <br />
                    <span>شماره تماس و پشتیبانی:</span>&nbsp;<span style="direction:rtl;text-align:left;display:inline-block">0919-865-9005</span>
                </p>
            </div>
            
        </div>
    </div>
</body>
</html>
